<template>
  <v-card style="height: 100%">
    <v-img :src="character.image" :class="className"></v-img>
    <v-card-title>{{ character.name }}</v-card-title>
    <v-card-text>Fecha: {{ character.created | formatDate }}</v-card-text>
    <v-card-text>Nombre : {{ firstName }}</v-card-text>
    <v-card-actions class="justify-center">
      <v-btn color="primary" @click="selectCharacter(character)"
        >Seleccionar</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  props: {
    character: Object,
  },
  filters: {
    formatDate(date) {
      let d = new Date(date);
      let day = d.getDate(); // Get the day as a number (1-31)
      let month = d.getMonth() + 1; // Get the month as a number (0-11)
      let year = d.getFullYear(); // Get the year as a four digit number (yyyy)
      return `${day}/${month}/${year}`;
    },
  },
  computed: {
    ...mapState({
      selected: (state) => state.selectedCharacter,
    }),
    firstName() {
      let firstName = this.character.name.split(" ")[0];

      this.$emit("nombre", firstName);

      return firstName;
      // "Morty Smith" ['Morty', 'Smith']
    },
    className() {
      if (this.character.status == "Alive") {
        return "alive";
      } else {
        return "dead";
      }
    },
  },
  methods: {
    ...mapMutations(["selectCharacter"]),
  },
};
</script>

<style scoped lang="scss">
.dead {
  filter: grayscale(1);
}
</style>