<template>
  <v-card style="height: 100%">
    <v-card-title>{{ episode.name }} - {{ episode.episode }}</v-card-title>
    <v-card-text>Fecha: {{ episode.created | formatDate }}</v-card-text>
    <v-card-text>
      <v-row>
        <v-col
          cols="6"
          v-for="character in episodeCharacters"
          :key="character.id"
        >
          <img :src="character.image" alt="" class="ltl-image" />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  props: {
    episode: Object,
  },
  filters: {
    formatDate(date) {
      let d = new Date(date);
      let day = d.getDate(); // Get the day as a number (1-31)
      let month = d.getMonth() + 1; // Get the month as a number (0-11)
      let year = d.getFullYear(); // Get the year as a four digit number (yyyy)
      return `${day}/${month}/${year}`;
    },
  },
  computed: {
    ...mapState({
      characters: (state) => state.characters,
    }),
    episodeCharacters() {
      let characters = [];
      this.episode.characters.forEach((character) => {
        let id = character.split("/").at(-1);

        let ch = this.characters.find((e) => e.id == id);

        if (ch) {
          characters.push(ch);
        } else {
          // get character
        }
      });
      return characters;
    },
  },
  methods: {
    ...mapMutations(["selectepisode"]),
  },
};
</script>

<style scoped lang="scss">
.dead {
  filter: grayscale(1);
}
.ltl-image {
  width: 100%;
  border-radius: 10px;
}
</style>