<template>
  <v-card>
    <v-row>
      <v-col cols="4">
        <v-img :src="character.image" :class="className"></v-img>
      </v-col>
      <v-col>
        <v-card-title>{{ character.name }}</v-card-title>
        <v-card-subtitle>Especie: {{ character.species }}</v-card-subtitle>
        <v-card-text>
          <v-row>
            <v-col cols="6">Fecha: {{ character.created | formatDate }}</v-col>
            <v-col cols="6">Ubicación: {{ character.location.name }}</v-col>
            <v-col cols="6">Origen: {{ character.origin.name }}</v-col>
            <v-col cols="6">Género: {{ character.gender }}</v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  props: {
    character: Object,
  },
  filters: {
    formatDate(date) {
      let d = new Date(date);
      let day = d.getDate(); // Get the day as a number (1-31)
      let month = d.getMonth() + 1; // Get the month as a number (0-11)
      let year = d.getFullYear(); // Get the year as a four digit number (yyyy)
      return `${day}/${month}/${year}`;
    },
  },
  computed: {
    className() {
      if (this.character.status == "Alive") {
        return "alive";
      } else {
        return "dead";
      }
    },
  },
};
</script>

<style scoped lang="scss">
.dead {
  filter: grayscale(1);
}
</style>