<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        md="3"
        v-for="character in $store.state.characters"
        :key="character.id"
      >
        <character-card :character="character" @nombre="print($event)" />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-center">
        <v-btn x-large @click="fetchCharacters()">Ver más</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from "vuex";
import CharacterCard from "@/components/CharacterCard";

export default {
  components: { CharacterCard },
  data() {
    return {
      characters: [],
    };
  },
  created() {
    this.fetchCharacters();
  },
  methods: {
    ...mapActions(["fetchCharacters"]),
    print(name) {
      console.log(name);
    },
  },
};
</script>