<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        md="3"
        v-for="episode in $store.state.episodes"
        :key="episode.id"
      >
        <episode-card :episode="episode" />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-center">
        <v-btn x-large @click="fetchEpisodes()">Ver más</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from "vuex";
import EpisodeCard from "@/components/EpisodeCard";
export default {
  components: { EpisodeCard },
  created() {
    this.fetchEpisodes();
  },
  methods: {
    ...mapActions(["fetchEpisodes"]),
  },
};
</script>