<template>
  <v-container>
    <v-row>
      <v-col>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/1600px-Rick_and_Morty.svg.png"
          style="max-width: 100%"
        />
        <v-img
          v-if="!selectedCharacter.id"
          src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/980px/public/media/image/2016/10/rick-morty-critica.jpg?itok=d3QGk-Rz"
        ></v-img>
        <selected-character-card v-else :character="selectedCharacter" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
import SelectedCharacterCard from "@/components/SelectedCharacterCard";

export default {
  components: { SelectedCharacterCard },
  data() {
    return {};
  },
  created() {
    this.fetchCharacters();
    this.fetchEpisodes();
  },
  computed: {
    ...mapState({
      selectedCharacter: (state) => state.selectedCharacter,
    }),
  },
  methods: {
    ...mapActions(["fetchCharacters", "fetchEpisodes"]),
  },
};
</script>